token-secret-key=EXAMPLE_SECRET_KEY

emailer.api.from-address=noreply@myemail.com
emailer.api.send-email-url=https://mail.api/send-email
emailer.api.refresh-token-url=https://mail.api/refresh-token
emailer.api.auth-scheme=Token
